<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permissao de acesso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrashWare">
        <activity
            android:name=".ui.aulas.ModuloSoftware"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.aulas.ModuloHardware"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.aulas.ContainerSoftware"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.aulas.ContainerHardware"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.senha.RedefinirSenha"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.login.ConfirmarIdentidade"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.senha.EnvioCodigo_Senha"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.login.Login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.navegacao.Home"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".ui.senha.RecuperarSenha"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.login.Cadastro"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.navegacao.carregamento"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>